


.para{
    font-size: 30px;
    color: white;
}
.toCard{
    background-color: #F3F4F6;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    width: 32%;
}


@media (max-width:767px) {
    .infotop{
        margin-top: 15%;
    }
    .para{
        font-size: 40px;
    }
     .toCard{
        width: 100%;
        margin-top: 20px;
    }
}